<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title >Voltar para os produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="btnsTelas">
    <ion-button color="warning" (click)="irParaTela1()">Frutas</ion-button>
    <ion-button color="primary" (click)="irParaTela2()">Doces</ion-button>
    <ion-button color="success" (click)="irParaTela3()">Salgados</ion-button>
  </div>
</ion-content>
