<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Doces
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Bem-Vindo ao seu mercado!!</h1>
  <ion-list class="Lista1">
    <ion-item-divider>
      <p>Os melhores doces:</p>
    </ion-item-divider>

    <div class="Prods1">
      <ion-card>
        <div class="imgs">
          <img src="../../assets/Doces/Bolo.jpg" alt="">
        </div>
        <ion-card-title class="TxtTitle">Bolo</ion-card-title>
        <ion-card-subtitle>Bolo é um doce produzido por padeiros, geralmente feito com farinha, açúcar e outros ingredientes.</ion-card-subtitle>
      </ion-card>

      <ion-card>
        <div class="imgs">
          <img src="../../assets/Doces/Cupcake.jpg" alt="">
        </div>
        <ion-card-title class="TxtTitle">Cupcake</ion-card-title>
        <ion-card-subtitle>Um cupcake, bolinho de fada ou pãozinho doce é um pequeno bolo individual, geralmente assado em forminhas de papel.</ion-card-subtitle>
      </ion-card>

      <ion-card>
        <div class="imgs">
          <img src="../../assets/Doces/Churros.png" alt="">
        </div>
        <ion-card-title id="Title">Churros</ion-card-title>
        <ion-card-subtitle>O churro é um tipo de massa frita da culinária espanhola e portuguesa, feita com massa choux, colocada em óleo quente.</ion-card-subtitle>
      </ion-card>

      <ion-card>
        <div class="imgs">
          <img src="../../assets/Doces/Donunts.jpg" alt="">
        </div>
        <ion-card-title id="Title">Rosquinha</ion-card-title>
        <ion-card-subtitle>A rousquille ou rosquille é um tipo de biscoito doce típico da Catalunha, incluindo a região francesa.</ion-card-subtitle>
      </ion-card>
    </div>
  </ion-list>


  <ion-list class="Lista2">

    <ion-item-divider>
      <p>Doces mais fáceis para se fazer:</p>
    </ion-item-divider>

    <div class="Prods2">
      <ion-card>
        <div class="imgs">
          <img src="../../assets/Doces/Croissant.jpg" alt="">
        </div>
        <ion-card-title>Croissant de chocolate</ion-card-title>
        <ion-card-subtitle>O croissant é um viennoiserie francês em formato de crescente.</ion-card-subtitle>
        </ion-card>

        <ion-card>
          <div class="imgs">
            <img src="../../assets/Doces/Sorvete.jpg" alt="">
          </div>
          <ion-card-title>Sorvete</ion-card-title>
          <ion-card-subtitle>O sorvete é uma sobremesa congelada, geralmente feita de leite ou creme de leite.</ion-card-subtitle>
        </ion-card>

        <ion-card>
          <div class="imgs">
            <img src="../../assets/Doces/Maca.png" alt="">
          </div>
          <ion-card-title>Maça do amor</ion-card-title>
          <ion-card-subtitle>Maçãs caramelizadas, também conhecidas como maçãs do amor.</ion-card-subtitle>
        </ion-card>

        <ion-card>
          <div class="imgs">
            <img src="../../assets/Doces/Pudim.jpg" alt="">
          </div>
          <ion-card-title id="Title2">Pudim</ion-card-title>
          <ion-card-subtitle>O pudim de leite condensado é um clássico brasileiro, famoso por sua textura cremosa.</ion-card-subtitle>
        </ion-card>
      </div>
    </ion-list>

  </ion-content>
